@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewData["Title"] = "BREAKFAST & LUNCH";
    ViewData["desc"] = "\n \n\nServed until 1PM daily";
}

<partial name="MainHeading" />

<div class="text-center">
    <h2 class="btn-secondary" style="margin:auto; width:max-content"> SANDWICH</h2>
    <p>
        soft-scrambled egg, cheddar, and bacon or Ham on your choice of bread (baguette, sourdough, croissant)
    </p>
    <br />
        <h2 class="btn-secondary" style="margin:auto; width:max-content">TOAST</h2>
    <p>
        <h4>Avocado Toast</h4>
       avocado, kale, carrot pickle, basil pesto, dill, toasted campagne bread
    </p>
     <p>
        <h4>    French Toast</h4>
        two slices of brioche French toast, topped with berries  
    </p>
    <br />
     <h2 class="btn-secondary" style="margin:auto; width:max-content"> SANDWICHES</h2>
     <h4>Grilled Cheese</h4>
    <p>cheddar, provolone, red onion pickle, sourdough bread
</p>
   <h4>Turkey Club</h4>
   <p>
sliced turkey, bacon lettuce, tomatoes, mayonnaise spread on toasted sourdough bread</p>

<br />
 <h2 class="btn-secondary" style="margin:auto; width:max-content">SOUP</h2>
   <p>comes with campagne bread slices
       cup(8oz) - 4.5 | bowl(16oz) - 7.5</p>
<h4>Split Pea Soup</h4>
<p>Cream of Mushroom Soup</p>
<br />
<h2 class="btn-secondary" style="margin:auto; width:max-content">SALAD</h2>
<p>half - 4.5 | full - 7.5</p>
<h4>Caesar Salad</h4>
<p>Kale Salad with strawberries</p>

</div>