@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  ViewData["Title"] = "OFFICE COFFEE DRINKS DELIVERY";
    ViewData["desc"] = "LAYER CAKE BAKERY OFFERS THE FINEST SPECIALITY COFFEE ROASTED WEEKLY BY STEREOSCOPE COFFEE CO.TO LEARN ABOUT OUR PASTRY AND OFFICE COFFEE DELIVERY PROGRAM, PLEASE EMAIL INFO@LAYERCAKEBAKERY.COM! ";
}

<partial name="MainHeading" />
<br />

<div class="text-center">
    <h2 class="btn-secondary" style="margin:auto; width:max-content">SPECIALTY COFFEE</h2>
    <p>
      oasted weekly by Stereoscope Coffee Co., Buena Park, CA
    </p>
    <p>Batch Brew | Espresso | Americano | Espresso & Tonic | Cortado | Capuccino | Latte | Vanilla Latte | Caramel Latte | Mocha | Kyoto Style Cold Drip</p>
    <br />

        <h2 class="btn-secondary" style="margin:auto; width:max-content" > TEA</h2>
    <p>   
by Art of Tea, Monterey Park, CA
</p>
     
     <p>
       Earl Grey | Elia's Choice Sencha | Morocan Mint | Yun-Wu (Cloud Mist) | Jasmine Pearl | For Her | Earl Grey 
    </p>



    <br />
    <h2 class="btn-secondary" style="margin:auto; width:max-content"> MILK</h2>
    <p>Strawberry Milk</p>
    <p>Ceremonial Matcha Milk Tea</p>
    <p>Turmeric Golden Milk Tea</p>
    <p>Dona Chai, Brooklyn</p>
    <h4>Chai Milk Tea</h4>
    <p>Dona Chai, Brooklyn</p>
    <p>Belgian Ganache Hot Chocolate</p>

     <br />
     
Classic Lemonade Iced Tea
     <h2 class="btn-secondary" style="margin:auto; width:max-content">LEMON</h2>
     <h4>Sparkling Lemonade</h4>
    <p>with house-made lemon syrup.
</p>
<p>original | lavender | berries</p>

</div>
