@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["TitleMain"] = "./images/mainhead1.png";
    ViewData["desc"] = "BEST ONLINE CAKE STORE";
}


<div class="container">
  <img class="img1" src="./images/fImg.png" alt="" style="width:90% margin:auto" >
 <div class="btn1" >
       <p><img class="overimgpic" src="/images/Cake.png" width="500" height="180"></p><br /><br />
      <a  href="/User/Items" class="btn-solid-lg" method="get" role="button" style="text-decoration:none;">ORDER ONLINE</a>
  </div>
 </div>


 <partial name="MainHeading" />
@await Component.InvokeAsync("Products")
@*  <partial name="MypartialView1(items)" />*@