@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center Heading" ><img class="headings" src=" @ViewData["TitleMain"]" /> </h1><br />
<p class="text-center" style="margin:auto; width:80%; color:indianred;">@ViewData["desc"] </p> <hr />