@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-4 shadow-sm items ">
   
    <div class="card-body ">
        <img src="/images/c2.png" class="img-thumbnail"  >
        <h3 class="card-title">cake</h3>
        <p class="card-text">choclate</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-solid-lg" style="background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
">ORDER NOW</a>
            </div>
            <small class="text-muted">Rs. 5000/</small>
        </div>
    </div>
</div>



 @*<div class="row">

    <div class="col-md-auto">
        <img src="/images/c1.png" alt="..." width="310px" height="300px">
        <div class="card-body" style="text-align:center;">
            <h5 class="card-title">Vanilla Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/c2.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Chocolate Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/c3.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">IceCream Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/buttercreamCake.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Butter Cream Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     
</div>

<div class="row">
    <div class="col-md-auto">
        <img src="/images/c4.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Vanilla Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/fruit.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Fruit Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/german.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">German Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/foundentCake.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title"> foundent Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
</div>

<div class="row">

     <div class="col-md-auto">
        <img src="/images/c2.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Chocolate Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/buttercreamCake.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Butter Cream Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/c1.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">IceCream Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/c3.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">IceCream Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
</div>

<div class="row">

     <div class="col-md-auto">
        <img src="/images/DevilsChoco.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Devis Chocolate Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>

    <div class="col-md-auto">
        <img src="/images/freshBarriesCake.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Fresh Barrier Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/macronCake.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Macron Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
     <div class="col-md-auto">
        <img src="/images/HazelnutChocolate.png" alt="..." width="310px" height="300px">
        <div class="card-body">
            <h5 class="card-title">Hazelnut Chocolate Cake</h5>

            <a href="#" class="btn btn-secondary ">Order Now</a>
        </div>
    </div>
</div>
*@