html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
   /* .overimgpic {
        width :200px ;
        height:40px;
    }*/
}
body{
    position:relative;
}

.orderOnline {
    width: 200px;
    height: 40px;
    font-size:24px;
    text-align:center;
    border-radius:5px;
    align-content:center;
    padding-bottom:5px;

}
.mid_navbar {
 
    border-radius: 30px;
    font-size:22px;
    font-weight:bold;
    width:70%;
    
    margin:auto;
}
    .mid_navbar ul li {
        
        padding-left: 18px;
    }
.mid_navbar li:hover
    {

    color:aqua;
        }    .title {
            width: 500px;
            height: 70px;
        }
.containerMain {
    background-color: white;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-image:url("../images/Wp.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.errors {
    color: red;
}
.container {
    position:relative;
    width: 100%;
    max-width: 100%;
}
.container .img1 {
        width: 100%;
        height: auto;
        opacity:0.5;
       
    }

    .container .btn1 {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
     
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    .container .bt {
        color: white;
    }
    a{
        text-decoration:none;
    }
 .container .bt:hover {
        background-color: black;
    }
.row{
    align-items:center;
    margin:auto;
    text-align:center;
    margin-left:80px;
}
.Heading {
    align-items: center;
    margin: auto;
    color:black;
    margin:10px 10px 10px 10px;
    text-decoration:underline;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
        background-color: #45a049;
    
}

/* Style the container/contact section */
.container2 {
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    background-color: #f2f2f2;
    height:800px;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column2 {
    float: left;
    width: 50%;
    margin-top: 140px;
    padding: 20px;

}
 input{
        border-radius: 40px;
    }

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #652d90;
    border-radius: 30px;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

    .btn-solid-lg:hover {
        background-color: transparent;
        color: #652d90; /* needs to stay here because of the color property of a tag */
        text-decoration: none;
    }
.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #652d90;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

    .btn-solid-lg:hover {
        background-color: transparent;
        color: #652d90; /* needs to stay here because of the color property of a tag */
        text-decoration: none;
    }
.items {
    border-radius: 50px;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
.card-body {
    
}
.headings {
    width: 600px;
    height: 100px;
}
footer {
    position: absolute;
    width: 100%;
    height: max-content ;

    
}
/*login*/
.form-control{
border-radius:40px;
}
